*.class
*.log

# sbt specific
dist/*
target
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies

.cache
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

.ensime
.ensime_lucene

*.aheui

# External tool builders
# .externalToolBuilders/
#
# # Locally stored "Eclipse launch configurations"
# *.launch
#
# # CDT-specific
# .cproject
#
# # PDT-specific
# .buildpath
